/* 
  This is a façade file for the future application SASS utilities. The SASS rules
  generated (or imported) here are meant to be exposed for consumption by the 
  components in this application.

  As such, DO NOT implement here imports or CSS rules that inject actual CSS rules 
  in the app since those will be injected into the DOM again and again whenever a
  component is instantiated. Eg.:

  BAD:

  .red-element {
    color: red;
  }

  GOOD:

  @mixin red-element {
    color: red;
  }
  
*/
